.content--background{
    height: 400px;
    overflow:hidden;
}

.content--backgroundImage{
    width:100%;
}

.content--mainContainer{
    width: 30%;
    padding-left: 25%;
}
.content--profileHeader{
    padding-top: 15px;
    padding-bottom: 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.profileImg{
    height: 45px;
    width: 45px;
    border-radius: 100%;
    padding-right: 10px;
}

.profileName{
    font-weight: bold;
}

.profileCreate{
    padding-top: 5px;
}

.profileHeader--details{
    display:flex;
}

.profileShare{
    font-weight:bold;
}

.content--article{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.6px;
}

.content--activitiesList{
font-size: 16px;
}

.content--activitiesHeading{
    font-size: 20px;
}